/* font-family: "Poppins",sans-serif;
 font-family: "Inter", sans-serif;
 font-family: "Montserrat",sans-serif; */

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  background-color: #ffffff;
}

ul,
ol,
li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

button:hover,
button:focus {
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
}
